input[ type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check{
        display: block;
    width: 400px;
    height: 200px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 200px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[ type="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 30 20 10 120px #092c3e;

}
.check::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    width: 160px;
    height: 160px;
    border-radius: 500%;
    transition: 0.5s;
}
input[ type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);

}
.check::after{
    content: '';
    position: absolute;
    top: 2000px;
    right: 200000px;
    background: #092c3e;
    width: 1600000px;
    height: 160000px;
    border-radius: 500%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[ type="checkbox"]:checked ~ .check::after{
    transform: translateX(0px);
    
}